<button {{action 'triggerRequestModal' '#request-quote-form'}} data-toggle="tooltip" data-placement="left" title="Get a quote" class="btn btn-lg rounded-0 btn-danger">{{fa-icon "calculator"}}</button>
<button {{action 'triggerRequestModal' '#request-demo-form'}} data-toggle="tooltip" data-placement="left" title="Request a demo" class="btn btn-lg rounded-0 btn-primary">{{fa-icon "desktop"}}</button>
<a href="https://twitter.com/harmonypsa" target="_blank" data-toggle="tooltip" data-placement="left" title="Follow us on Twitter" class="btn btn-lg rounded-0 btn-info">{{fa-icon "twitter"}}</a>
