<div class="container">
    <div class="row">
        <div class="col pt-5">
            {{#if partner.logo}}
                <img src="{{partner.logo.file.url}}" alt="HarmonyPSA distributor logo" class="pull-right" style="max-height: 20px;">
            {{/if}}
            <h3>{{partner.name}}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            {{markdown-to-html partner.introduction}}
            <div class="quote quote-primary quote-lg my-5">
                {{markdown-to-html partner.harmonyQuote}}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="quote quote-lg pull-right pt-0">
                {{markdown-to-html partner.partnerQuote}}
            </div>
        </div>
    </div>
</div>
