<header class="text-white">
    <div class="container">
        <div class="row">
            <div class="col col-sm-10 col-md-6 py-6">
                <h1 class="mb-4">{{model.title}}</h1>
                <div class="lead mb-5">
                    {{model.lead}}
                </div>
                <div class="mb-5">
                    <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-cf2293d8-13f3-4e24-944e-de967376133b"><span class="hs-cta-node hs-cta-cf2293d8-13f3-4e24-944e-de967376133b" id="hs-cta-cf2293d8-13f3-4e24-944e-de967376133b"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3965515/cf2293d8-13f3-4e24-944e-de967376133b" ><img class="hs-cta-img" id="hs-cta-img-cf2293d8-13f3-4e24-944e-de967376133b" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3965515/cf2293d8-13f3-4e24-944e-de967376133b.png"  alt="Watch video"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3965515, 'cf2293d8-13f3-4e24-944e-de967376133b', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
                    <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-1b823c9b-8000-4b5b-aea1-0c708533002e"><span class="hs-cta-node hs-cta-1b823c9b-8000-4b5b-aea1-0c708533002e" id="hs-cta-1b823c9b-8000-4b5b-aea1-0c708533002e"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3965515/1b823c9b-8000-4b5b-aea1-0c708533002e" ><img class="hs-cta-img" id="hs-cta-img-1b823c9b-8000-4b5b-aea1-0c708533002e" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3965515/1b823c9b-8000-4b5b-aea1-0c708533002e.png"  alt="Request demo"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3965515, '1b823c9b-8000-4b5b-aea1-0c708533002e', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-12 py-3 text-center">
                <span class="display-3">{{model.contentArea1}}</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 py-5 py-xs-4">
            {{markdown-to-html model.contentArea2 class="mt-6 mt-xs-5"}}
            <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-e7b0ea72-8b24-416e-ac0d-500e03f716f4"><span class="hs-cta-node hs-cta-e7b0ea72-8b24-416e-ac0d-500e03f716f4" id="hs-cta-e7b0ea72-8b24-416e-ac0d-500e03f716f4"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3965515/e7b0ea72-8b24-416e-ac0d-500e03f716f4" ><img class="hs-cta-img" id="hs-cta-img-e7b0ea72-8b24-416e-ac0d-500e03f716f4" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3965515/e7b0ea72-8b24-416e-ac0d-500e03f716f4.png"  alt="Get the whitepaper"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3965515, 'e7b0ea72-8b24-416e-ac0d-500e03f716f4', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
        </div>
        <div class="col-12 col-sm-6 pt-3">
            {{site-image class="img-fluid transition-slide-from-right transition-speed-5" asset=(object-at model.images 0)}}
        </div>
    </div>
</div>
<div class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="d-none d-sm-block col-sm-7 pt-6">
                {{site-image class="img-fluid-lg transition-slide-from-left transition-speed-5" asset=(object-at model.images 1)}}
            </div>
            <div class="col-12 col-sm-5 py-5 py-xs-4">
                {{markdown-to-html model.contentArea3 class="mt-6 mt-xs-5"}}
                <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-3988c16e-a46e-4ece-847a-5727908961ed"><span class="hs-cta-node hs-cta-3988c16e-a46e-4ece-847a-5727908961ed" id="hs-cta-3988c16e-a46e-4ece-847a-5727908961ed"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3965515/3988c16e-a46e-4ece-847a-5727908961ed" ><img class="hs-cta-img" id="hs-cta-img-3988c16e-a46e-4ece-847a-5727908961ed" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3965515/3988c16e-a46e-4ece-847a-5727908961ed.png"  alt="Request demo"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3965515, '3988c16e-a46e-4ece-847a-5727908961ed', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
            </div>
            <div class="col-12 d-sm-none col-sm-7 pt-6 py-xs-4">
                {{site-image class="img-fluid-lg transition-slide-from-left transition-speed-5" asset=(object-at model.images 1)}}
            </div>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row justify-content-center text-center">
        <div class="col-7 py-5">
            {{markdown-to-html model.contentArea4}}
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-12 col-sm-4 transition-fade-in transition-delay-0">
            <span class="circle-icon circle-icon-1"></span>
            {{markdown-to-html model.reason1}}
            <p>{{#link-to 'product' class="text-uppercase"}}Learn more{{/link-to}}</p>
        </div>
        <div class="col-12 col-sm-4 transition-fade-in transition-delay-1">
            <span class="circle-icon circle-icon-2"></span>
            {{markdown-to-html model.reason2}}
            <p>{{#link-to 'product' class="text-uppercase"}}Learn more{{/link-to}}</p>
        </div>
        <div class="col-12 col-sm-4 transition-fade-in transition-delay-2">
            <span class="circle-icon circle-icon-3"></span>
            {{markdown-to-html model.reason3}}
            <p>{{#link-to 'product' class="text-uppercase"}}Learn more{{/link-to}}</p>
        </div>
        <div class="col-12 col-sm-4 transition-fade-in transition-delay-1">
            <span class="circle-icon circle-icon-4"></span>
            {{markdown-to-html model.reason4}}
            <p>{{#link-to 'product' class="text-uppercase"}}Learn more{{/link-to}}</p>
        </div>
        <div class="col-12 col-sm-4 transition-fade-in transition-delay-2">
            <span class="circle-icon circle-icon-5"></span>
            {{markdown-to-html model.reason5}}
            <p>{{#link-to 'product' class="text-uppercase"}}Learn more{{/link-to}}</p>
        </div>
        <div class="col-12 col-sm-4 transition-fade-in transition-delay-3">
            <span class="circle-icon circle-icon-6"></span>
            {{markdown-to-html model.reason6}}
            <p>{{#link-to 'product' class="text-uppercase"}}Learn more{{/link-to}}</p>
        </div>
        <div class="col-12 col-sm-4 transition-fade-in transition-delay-3">
            <span class="circle-icon circle-icon-7"></span>
            {{markdown-to-html model.reason7}}
            <p>{{#link-to 'product' class="text-uppercase"}}Learn more{{/link-to}}</p>
        </div>
    </div>
<script type="application/ld+json">
{
  "@context": "http://schema.org/", 
  "@type": "BreadcrumbList", 
  "itemListElement": [
    { 
      "@type": "ListItem", 
      "position": "1", 
      "item": { 
        "@id": "https://www.harmonypsa.com", 
        "name": "HarmonyPSA" 
      } 
    },
    { 
      "@type": "ListItem", 
      "position": "2", 
      "item": { 
        "@id": "https://www.harmonypsa.com/solutions/", 
        "name": "Solutions" 
      } 
    },
    { 
      "@type": "ListItem", 
      "position": "3", 
      "item": { 
        "@id": "https://www.harmonypsa.com/solutions/msp", 
        "name": "Managed Service Providers" 
      } 
    }
  ]
}
</script>
</div>
{{testimonials-sidebar bgClass="bg-primary" dark=true}}
{{resources-sidebar articles=blog whitepapers=whitepapers videos=videos}}
{{call-to-action-sidebar}}
{{ld-json json=model.structuredDataJson}}
